@model ModelEF.Model.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">

    <!-- Page body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Basic Form Inputs card start -->
                <div class="card">
                    
                    <div class="card-header">

                        <h5>Chi tiết sản phẩm</h5>
                    </div>
                    <div class="card-block">
                        <h4 class="sub-title">@Html.DisplayFor(model => model.Name)</h4>

                        <form>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.ID, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.ID, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Name, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.UnitCost, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.ValueFor(model => model.UnitCost, "{0:0,000 VNĐ}")
                                    @Html.ValidationMessageFor(model => model.UnitCost, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Quantity, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Quantity, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Category_ID, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Category_ID, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Category_ID, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Description, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Status, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Status, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Url Image", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Image, new { @class = "form-control", @style = "color: black" })
                                    @Html.ValidationMessageFor(model => model.Image, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    <img src="@Html.ValueFor(model => model.Image)" width="100" />
                                    @Html.ValidationMessageFor(model => model.Image, ViewBag.CanhBao as String, new { @class = "text-danger" })
                                </div>
                            </div>
                        </form>
                        @Html.ActionLink("Quay lại", "Index", "Product", new { @class = "btn btn-primary" })
                    </div>
                </div>
                </div>
                <!-- Basic Form Inputs card end -->
            </div>
        </div>
    </div>
    <!-- Page body end -->

