@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Basic table card start -->
        <!-- Hover table card end -->
        <!-- Contextual classes table starts -->
        <div class="card">
            <div class="card-header">
                <h5>Quản lý sản phẩm</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-trash close-card"></i></li>
                    </ul>
                </div>

            </div>
            <div class="card-block table-border-style">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            @Html.ActionLink("Tạo mới", "Create", "Product", new { @class = "btn btn-danger" })

                        </div>
                        <div class="col-xl-6 col-md-6">
                            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control">
                        </div>
                        <div class="col-xl-2 col-md-6">
                            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
                        </div>
                    </div>
                }
                    <div class="table-responsive">
                        <table class="table" style="margin-top:20px;">
                            <thead>
                                <tr>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Mã Loại Sản Phẩm</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var str = "";}
                                @foreach (var item in Model)
                                {
                                    if (item.Status == "Còn hàng")
                                    {
                                        str = "";
                                    }
                                    else if (item.Status == "Sắp hết")
                                    {
                                        str = "table-warning";
                                    }
                                    else
                                    {
                                        str = "table-danger";
                                    }
                                    <tr class=@str>
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td> @System.String.Format("{0:0,000 VNĐ}", @item.UnitCost)</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Category_ID</td>
                                        <td align="center">
                                            <a href="~/Admin/Product/Detail/@item.ID"><i class="fa fa-info-circle"></i> </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString, @class = "btn btn-primary" }))
                    </div>
                </div>
        </div>
        <!-- Contextual classes table ends -->
    </div>
    <!-- Page-body end -->
</div>


